.gatos,
.galeria {
    width: 100%;
}

.catalogo {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.4rem;
    width: 100%;
    justify-content: center;
}