.gatos,
.galeria {
    width: 100%;
}

.catalogo {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.9rem;
    width: 100%;
    justify-content: center;
}

@media (max-width: 740px) {
    .catalogo .gato {
        width: 80vw;
        height: 80vw;
        border-radius: .6rem;
    }
}