.pick {
    display: flex;
    gap: 3rem;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    border: 1px dotted lightgray;
    margin-bottom: 5rem;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1rem;
    max-width: 700px;
}

.pick-arrow-right,
.pick-arrow-left {
    color: gray;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.pick-arrow-right:hover,
.pick-arrow-left:hover {
    color: var(--azul);
    cursor: pointer;
}

.carrossel {
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    border-radius: 1rem;
}

.img-pick {
    outline: none;
    scroll-snap-align: center;
    width: 630px;
    height: 630px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.descricao {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3rem;
    width: fit-content;
}

.superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: fit-content;
}

.botoes {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    width: fit-content;
}

.botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}

.pick .small-icons,
dialog .small-icons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 2rem;
    align-items: flex-start;
}

.botao-fav,
.botao-close {
    color: gray;
    transition: all .1s ease-in-out;
}
.botao-fav:hover,
.botao-close:hover {
    color: var(--azul);
}
.botao-fav:active,
.botao-close:active {
    transform: scale(90%);
}

.liked {
    color: red;
    transition: all .05s ease-in-out;
}

.pick .hollow {
    transition: all .05s ease-in-out;
}

.botao-cart {
    background-color: var(--azul);
    color: white;
    border-radius: 4rem;
    padding: 7px 20px 7px 22px;
    transition: all .1s ease-in-out;
}

.botao-cart:active {
    transform: scale(97%);
}

.botao-chat {
    border: 3px solid var(--azul);
    border-radius: 4rem;
    padding: 4px 17px 4px 19px;
    transition: all .1s ease-in-out;
}

.botao-chat:hover {
    background-color: var(--laranja);
    border: 3px solid var(--laranja);
}
.botao-cart:hover {
    background-color: var(--laranja);
    color: black;
}

.botao-chat:active {
    transform: scale(97%);
}

.idcat {
    color: lightgray;
}

.nomecat {
    font-size: 2.5rem;
    font-weight: 700;
}

.assinantescat {
    color: gray;
    font-size: 1.2rem;
}

.pick table,
dialog table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

.table-titulo {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.pick tr.impar,
dialog tr.impar {
    background-color: #f2f2f2;
}

.pick th,
.pick td,
dialog th,
dialog td {
    height: 3rem;
    padding-inline: 1rem;
    text-align: left;
}

.pick th,
dialog th {
    font-weight: bold;
    white-space: nowrap;
    width: 8rem;
}

.pick td,
dialog td {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pick td.icon,
dialog td.icon {
    font-size: 1.5rem;
}

.tags {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    width: 24.5rem;
}

.tag {
    background-color: var(--azul);
    padding: 5px .9rem;
    border-radius: 1rem;
    font-weight: 600;
    color: white;
    user-select: none;
}

@media (max-width: 1230px) {
    .pick {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }
    .descricao {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .img-container {
        width: 80vw;
    }
    .img-pick {
        width: 80vw;
        height: 80vw;
    }
    .icon.pick-arrow-left,
    .icon.pick-arrow-right {
        display: none;
    }
    .tags {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .img-container {
        width: 69vw;
    }
    .img-pick {
        width: 69vw;
        height: 69vw;
    }
}