.dialog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    border: 1px dotted lightgray;
    outline: none;

    width: 70vw;
    overflow-y: scroll;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .5);
}

.dialog td {
    text-overflow: ellipsis
}

.hidden {
    display: none;
}

@media (max-width: 1768px) {
    .dialog {
        width: fit-content;
    }
}

@media (max-width: 1200px) {
    .dialog {
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
    }
    .tags {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .dialog {
        border-radius: 1rem;
    }
}