.feedbacks .galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
}

.feedback {
    background-color: var(--branco);
    padding: 2rem 1rem;
    border-radius: 1rem;
    border: 1px dotted lightgray;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    width: 300px;
    align-items: center;

    transition: all .2s ease-in-out;
}

.feedback:hover {
    transform: scale(1.01);
}

.feedbacks .dupla1,
.feedbacks .dupla2 {
    flex-grow: 1;
}

.pet-tutor {
    display: flex;
    gap: .5rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.opiniao {
    line-height: 150%;
    text-align: center;
}

.estrelas span.icon {
    font-weight: 100;
    color: goldenrod;
}

.estrelas span.icon.hollow {
    color: rgba(218, 165, 32, 0.3);
}
