footer {
    color: var(--azul);
    padding: 1em;
    width: 100vw;
    background-color: var(--laranja);
}

.footer {
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
}

#frase h1 {
    font-size: 40px;
}
#frase p{
    padding-top:5px;
color:#1e1e1e;
text-align:left;
font-size:15px;
margin-bottom:40px;
}
#nav-emiau{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #081534;
}

.menu-footer{
    display: flex;
    gap: 50px;
    font-size: 18px;
    
}
.menu-footer li{
    list-style: none;
}
.menu-footer a{
    text-decoration: none;
    color: var(--azul);
}
.menu-footer a:hover{
    color: var(--branco);
}
#emiau {
    display: flex;                  
    align-items: center;          
    margin-bottom:15px;  
    background-color: #ffffff;      
    border-radius: 5px;             
    width: 60%;                    
    max-width: 500px;               
    box-sizing: border-box;         
    border: 3px solid var(--azul);  
}

#emiau input {
    border: none;                   
    border-radius: 5px 0 0 5px;     
    flex-grow: 1;                  
    padding-left: 10px;          
}

#emiau button {
    border:none;
                
    background-color: var(--azul);  
    color: white;                  
    padding: 0 15px;                 
    cursor: pointer;                
}

#emiau button:hover {
    color: var(--laranja);
    background-color: var(--branco);
    transition-duration: 0.1s;
}


.creditos {
    margin-top: 30px;
    font-size: 15px;
}

#final {
    display: flex;
    justify-content: space-between;

}
#titulo {
    text-align: left;
    color: #081534;
    font-size: 50px;
    font-family: Inter;
    letter-spacing: -2px;
    margin-right: 20px;
    
}

.footer .send {
    display: inline-block;
    transform: rotate(-30deg);
}

@media (max-width: 1023px) {
    #frase {
     text-align: center;
    }
    #frase h1{
        font-size: 40px;
    }
    #frase p{
        text-align: center;
        font-size: small;
    }
    .menu-footer{
        gap: 34px;
        font-size: 19px;
        margin-bottom: 10px;
    }
    #nav-emiau{
        display: flex;
        flex-direction: column;
    }
    #emiau{
        max-width: 380px;
    }
    #final {
        text-align: center;
    }
    
    .creditos p {
        margin: 0;
        font-size: 15px;
    }
    #titulo{
        display: none;
    }
}

@media (max-width: 390px) {
       .menu-footer{
           gap: 10px;
           font-size: 15px;
       }
       #emiau{
        display: none;
       }
}
