@import url(./sidebar.css);

.header {
    height: 4rem;
}

.nav a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 600;
}

.nav {
    background-color: var(--branco);
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 1000;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.navlink,
.nav .admlink {

    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    height: 4rem;
    padding-inline: 2rem;
}

.navlink:hover {
    color: var(--laranja);
}

.logo {
    font-size: 1.5rem;
}

.center {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
}

.nav .login {
    position: relative;
}

.login div {
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
    gap: 1rem;
}

.login span {
    border: 3px solid var(--preto);
    border-radius: 1.5rem;
    padding: .2rem .4rem .2rem .4rem;
}

.navlink:hover .user {
    border: 3px solid var(--laranja);
}

.sidebar .usericon {
    border: 3px solid var(--branco);
}

.nav .dropdown-container {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    position: absolute;
    border-radius: .4rem;

    opacity: 0;
    transform: translateY(-10%);
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.nav .login:hover .dropdown-container {
    opacity: 1;
    pointer-events: visible;
    transform: translateY(0);
}

.nav .dropdown-container ul {

    position: relative;
    
    display: block;
    width: 8rem;
    text-align: center;
}

.nav .admlink {
    gap: 0px;
    padding: .3rem 0px;
}

.admlink a {
    line-height: 150%;
    width: 100%;
    color: var(--branco);
}

.hidden {
    display: none;
}

.menu {
    display: none;
}

.menu img,
.close img {
    height: 32px;
}

@media (max-width: 800px) {
    .menu {
        display: flex;
    }
    .hideOnMobile {
        display: none;
    }
}