@import url(./sidebar.css);

.header {
    background-color: blue;
    height: 4rem;
}

.header a {
    text-decoration: none;
    color: black;
}

.nav {
    background-color: red;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.navlink,
.nav .admlink {
    background-color: magenta;

    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    height: 4rem;
    padding-inline: 2rem;
}

.logo {
    font-size: 1.5rem;
}

.center {
    display: flex;
    gap: 3rem;
}

.nav .login {
    position: relative;
}

.login span {
    display: flex;
    flex-direction: row;
    align-items: center ;
    gap: 1rem;
}

.login img {
    border: 2px solid rgb(90, 90, 90);
    border-radius: 1.5rem;
    padding: .5rem;
}

.nav .dropdown-container {
    position: absolute;

    opacity: 0;
    transform: translateY(-10%);
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.nav .login:hover .dropdown-container {
    opacity: 1;
    pointer-events: visible;
    transform: translateY(0);
}

.nav .dropdown-container ul {
    background-color: blue;

    position: relative;
    
    display: block;
    width: 8rem;
    text-align: center;
}

.nav .admlink {
    gap: 0px;
    padding: .3rem 0px;
}

.hidden {
    display: none;
}

.menu {
    display: none;
}

.menu img,
.close img {
    height: 32px;
}

@media (max-width: 800px) {
    .menu {
        display: flex;
    }
    .hideOnMobile {
        display: none;
    }
}