@import url(./sidebar.css);

.header {
    background-color: var(--fundo);
    width: 100vw;
}

.center a,
.logo a {
    text-decoration: none;
    color: var(--preto);
    font-weight: 600;
}

.nav-container {
    background-color: var(--fundo);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav {
    max-width: 1232px;
    margin: 0 auto;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

.navlink,
.nav .admlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    height: 4rem;
    padding-inline: 2rem;
}

.navlink:hover {
    color: var(--laranja);
}

.logo {
    font-size: 1.5rem;
}

.center {
    display: flex;
    gap: 3rem;
    text-transform: uppercase;
}

.nav .login {
    position: relative;
}

.login div {
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
    gap: 1rem;
}

.login span {
    border-radius: 1.5rem;
}

.nav .dropdown-container {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    position: absolute;
    border-radius: .4rem;

    opacity: 0;
    transform: translateY(-5px);
    pointer-events: none;
    transition: all .2s ease-in-out;
}

.nav .login:hover .dropdown-container {
    opacity: 1;
    pointer-events: visible;
    transform: translateY(0);
}

.nav .dropdown-container ul {

    position: relative;
    
    display: block;
    width: 10rem;
    text-align: center;
}

.nav .admlink {
    gap: 0px;
    padding: 2.5rem 0rem;
    color: var(--branco);
    font-weight: 500;
    text-decoration: none;
    line-height: 150%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav .admlink:hover {
    background-color: rgba(255, 255, 255, .15);
}

.dropdown-list li:first-child a:hover {
    border-radius: .25rem;
}

.dropdown-list li:last-child a:hover {
    border-radius: .25rem;
}

.hidden {
    display: none;
}

.menu {
    display: none;
}

.menu img,
.close img {
    height: 32px;
}

.usericon {
    font-weight: 500;
    font-size: 2.5rem;
}

@media (max-width: 800px) {
    .menu {
        display: flex;
    }
    .hideOnMobile {
        display: none;
    }
}