.galeria,
.dupla1,
.dupla2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.galeria {
    justify-content: center;
    min-height: 23.4rem;
    width: 100%;
}

.card {
    border: 1px dotted lightgray;
    background-color: white;

    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: .4rem;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: translateY(-1rem);
}

.gato {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 230px;
    height: 230px;
    border-radius: .6rem;

    margin-bottom: 1rem;
}

.nome,
.more,
.sexo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.catid {
    color: lightgray;
    font-size: .8rem;
}

.nome {
    gap: .7rem;
    font-size: 1.2rem;
}

.gato-nome {
    font-weight: 600;
}

.tutor,
.more,
.bullet {
    color: gray;
    font-weight: 300;
}

.populares strong {
    font-weight: 500;
}

.more {
    gap: .6rem;
    font-size: .9rem;
}

.assinantes {
    font-weight: 600;
}

.sexicon {
    font-size: 1.2rem;
}

@media (max-width: 1230px) {
    .galeria,
    .dupla1,
    .dupla2 {
        gap: 3vw;
    }
    .gato {
        width: 40vw;
        height: 40vw;
        border-radius: .6rem;
    }
}

@media (max-width: 590px) {
    .gato {
        width: 80vw;
        height: 80vw;
        border-radius: .6rem;
    }
}