.secao-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.desc,
.title {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.title {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.vermais {
    color: var(--azul);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--azul);
    border-radius: 4rem;
    padding: .35rem .8rem .3rem 1.6rem;
}

.secao-titulo .arrow-right {
    transform: translateY(-1px);
}

.quantidade {
    color: gray;
}

.far-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 380px) {
    .secao-titulo {
        justify-content: center;
    }
    .desc {
        text-align: center;
    }
}