@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0..1");

:root {
    --branco: #fff;
    --cinza: #5e6472;
    --laranja: #ff8200;
    --azul: #081534;
    --preto: #000;

    --fundo: #f6f6f6;

    --fonte-titulo: 'Poppins', sans-serif;
    --fonte-texto: 'Poppins', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-texto);
    scrollbar-width: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo);
}

.hidden {
    display: none;
}

.main {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1230px;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.article {
    margin-top: 4rem;
}

@media (max-width: 1230px) {
    .article {
        padding: 1rem;
    }
}

.icon {
    font-family: 'Material Symbols Rounded', sans-serif;
    font-variation-settings: 'FILL' 1;
    font-size: 28px;
    font-weight: 600;
    user-select: none;
}

.hollow {
    font-variation-settings: 'FILL' 0;
}
